{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<h1>Hi {{user.name}}!</h1>
<form class="edit-form" method="POST" action="/update_profile">
    <label for="nickname">Nickname</label><input type="text" name="nickname" value="{{user.nickname if user.nickname != None}}" required>
    <input class="action-btn" type="submit" value="Save">
</form>
<form method="GET" action="/logout"><input class="action-btn" type="submit" value="Log Out"></form>

<div class="dash">
  <div class="unplayed">
    <h2>Previously Played Tracks</h2>
    {% if tracks|length > 0 %}
        {% for track in tracks %}
            <li class="{{loop.cycle('odd', 'even')}}">{% with track=track %} {% include "played_user_track_row.html" %} {% endwith %}</li>
        {% endfor %}
        {% else %}
        <li class="odd">No previously played tracks</li>
        {% endif %}
        </ul>

  </div>
</div>

{% endblock %}
