{% extends "base.html" %}

{% block title %}Edit Session{% endblock %}

{% block content %}
<h1>Edit Session {{session.id}}</h1>
<form class="edit-form" method="POST" action="/sessions/{{session.id}}/update">
    <label for="name">Session Name</label><input type="text" name="name" value="{{session.name if session.name != None}}" required>
    <label for="spotify_url">Spotify URL</label><input type="text" name="spotify_url" value="{{session.spotify_url if session.spotify_url != None}}">
    <label for="current_round">Current Round</label><input type="text" name="current_round" value="{{session.current_round if session.current_round != None}}">
    <input class="action-btn" type="submit" value="Save">
</form>
{% endblock %}
