{% extends "base.html" %}

{% block title %}Edit Track{% endblock %}

{% block content %}
<form method="POST" action="/tracks/{{track.id}}/update">
    Person Name: <input type="text" name="person" value="{{track.person if track.person != None}}" required><br>
    Track Title: <input type="text" name="title" value="{{track.title if track.title != None}}"><br>
    Track Artist (Optional): <input type="text" name="artist" value="{{track.artist if track.artist != None}}"><br>
    Track URL: <input type="text" name="url" value="{{track.url if track.url != None}}"><br>
    <input type="submit" value="Save">
</form>
{% endblock %}