{% extends "base.html" %}

{% block title %}New Track{% endblock %}

{% block content %}
<form method="POST" action="/insert_track">
   Session ID: <input type="text" name="session_id" value="{{session.id}}" required><br>
   Round Number: <input type="text" name="round_number" value="{{session.current_round}}" required><br>
   Person Name: <input type="text" name="person" required><br>
   Track Title (& Artist): <input type="text" name="track_name" required><br>
   Track URL: <input type="url" name="track_url" required><br>
   <input type="submit" value="Save">
</form>
{% endblock %}