{% extends "base.html" %}

{% block title %}New Track{% endblock %}

{% block content %}
<form method="POST" action="/insert_track">
   Session ID: <input type="text" name="session_id" value="{{session.id}}" required><br>
   Person Name: <input type="text" name="person"><br>
   Track Title: <input type="text" name="title"><br>
   Track Artist (Optional) <input type="text" name="artist"><br>
   Track URL: <input type="text" name="url"><br>
   <input type="submit" value="Save">
</form>
{% endblock %}