{% extends "base.html" %}

{% block title %}New Track{% endblock %}

{% block content %}
<h1>Add New Track</h1>
<form class="edit-form" method="POST" action="/insert_track">
   <input type=hidden name="session_id" value="{{session.id}}">
   <label for="url">Track URL</label><input type="text" name="url">
   <label for="title">Track Title</label><input type="text" name="title">
   <label for="artist">Track Artist</label><input type="text" name="artist">
   <input class="action-btn" type="submit" value="Save">
</form>
{% endblock %}
