{% extends "base.html" %}
{% block title %}MCGJ{% endblock %}

{% block content %}
<h1>Music Consumption Group... Jockey</h1>

{% include "general_nav.html" %}

<h2>MCG Sessions</h2>

<form method="GET" action="/insert_session"><input class="action-btn" type="submit" value="New Session"></form>

<ul class="session-list">
    {% for session in sessions|sort(attribute = 'create_date', reverse = True) %}
    <li class="{{loop.cycle('odd', 'even')}}"> <a href=/sessions/{{session.id}}>{{session.name}}</a></li>
{% endfor %}
</ul>
{% endblock %}
