:root {
        /* https://coolors.co/001f1e-2d4c4f-e3e1de-b8ded7-f9ada0-a997df */
        --jungle: #001F1E;
        --light-jungle: #173637;
        --slate: #2D4C4F;
        --platinum: #E3E1DE;
        --powder: #B8DED7;
        --melon: #F9ADA0;
        --bluebell: #A997DF;
}

body {
        background-color: var(--jungle);
        color: var(--platinum);
        font-family: Roboto, sans-serif;
        padding: 5px 25px;
}

h1, h2 { font-family: Raleway, sans-serif; font-weight: 200; }

a { text-decoration: none; }

a:link { color: var(--powder); }
a:hover { background: var(--slate); }
a:visited { color: var(--melon); }

a.icon-btn { color: var(--powder); }
a.icon-btn:visited { color: var(--powder); }
a.icon-btn:hover { color: var(--bluebell); }

a.art-link:hover { background: var(--jungle); }

a.nav { padding: 5px 2px; }

ul {
        list-style-type: none;
        margin-block-start: 0;
        padding-inline-start: 20px;
}

ul.session-list { width: 250px; }

ul.session-list > li {
        padding: 2px 5px 3px;
}

ul.track-list > li {
        padding: 3px 0 3px 3.5em;
        text-indent: -3.5em;
        width: 600px;
}

li.odd { background: var(--light-jungle); }
li:hover { background: var(--slate); }

hr { border-color: var(--light-jungle); }

.round { display: flex; }
.artwork { flex: 1; margin-left: 20px; min-width: 450px; max-width: 700px;}

.action-btn {
        display: inline-block;
        margin: 1em 0;
        background-color: var(--light-jungle);
        border: none;
        border-radius: 2px;
        color: var(--powder);
        padding: 7px 10px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
}

.action-btn:hover { background: var(--slate); }
.album-cover { opacity: 0.5; }
.album-cover:hover { opacity: 1; }
