:root {
        /* https://coolors.co/001f1e-2d4c4f-e3e1de-b8ded7-f9ada0-a997df */
        --jungle: #001F1E;
        --light-jungle: #173637;
        --slate: #2D4C4F;
        --platinum: #E3E1DE;
        --powder: #B8DED7;
        --melon: #F9ADA0;
        --bluebell: #A997DF;
}

body {
        background-color: var(--jungle);
        color: var(--platinum);
        font-family: Roboto, sans-serif;
        padding: 5px 25px;
}

h1, h2 {
        font-family: Raleway, sans-serif;
        font-weight: 400;
        margin: 16px 0;
}

a { text-decoration: none; }

a:link { color: var(--powder); }
a:hover { background: var(--slate); }
a:visited { color: var(--melon); }

a.icon-btn { color: var(--powder); }
a.icon-btn:visited { color: var(--powder); }
a.icon-btn:hover { color: var(--bluebell); }

a.art-link:hover { background: var(--jungle); }

a.nav { padding: 5px 2px; }

ul {
        list-style-type: none;
        padding-inline-start: 20px;
        margin: 0;
}

ul.session-list { width: 250px; }

ul.session-list > li {
        padding: 2px 5px 3px;
}

ul.track-list > li {
        padding: 3px 2px 3px;
        width: 600px;
}

.track-container {
        display: grid;
        grid-template-columns: max-content auto;
        column-gap: 5px
}

li.odd { background: var(--light-jungle); }
li:hover { background: var(--slate); }

hr {
        margin: 1em 0;
        border: 1px solid  var(--light-jungle);
}

.dash { display: flex; }
.next-up { margin-left: 20px; width: 300px; }
.next-up > ul > li { padding: 2px 5px 3px; }

.round { margin: 0 0 1em 0; }
.round-container { display: flex; }
.artwork { margin-left: 20px; width: 450px; }

.edit-form {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
}
.edit-form > label       { text-align: right; }
.edit-form > label:after { content: ":"; }
.edit-form > .action-btn { grid-column: 2; justify-self: end; margin: 10px 0;}

.edit-data { margin: 0 0 16px 0; line-height: 1.5em; }
.edit-data > ul > li { width: 600px; }

.action-btn {
        display: inline-block;
        margin: 0 0 10px 0;
        background-color: var(--light-jungle);
        border: none;
        border-radius: 2px;
        color: var(--powder);
        padding: 7px 10px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
}
.action-btn:hover { background: var(--slate); }
.button-grp { width: 100%; margin: 16px 0 0 0; }
.button-grp > form { display: inline-block;}

.album-cover { opacity: 0.5; }
.album-cover:hover { opacity: 1; }
